 :root {
 --primary-color: rgb(223, 228, 231);
 --font-color: rgb(10, 10, 10);
 --darkerColor: blue ;
 --lighterFontcolor: cadetblue;
 --defaultColor: darkgreen;
 --darkerFontcolor: darkgoldenrod;
 --darkblack: black;
 --shadowcolor: brown;
 --higlightborder: solid rgb(128, 0, 11);
 --lightborder: lightgray;
 --lightdefaultcolor: green;
 --bordercolor:solid rgba(0,0,0,0.3);
 --fillcolor: #edc655;
 --fillFontcolor: #f76414;
 --bodysize: 16px;
 --bodylargersize: 36px;
 --boxtopLeft: 20px;
 --boxwidth: 100%;
 --boxborder: 2px;
 --boxpadding: 10px;
 --boxflex: 200px;
 --marginsize: 15px;
 --largerwidth: 250px;
 --rightsize: 40px;
 --halfboxwidth: 50%;
 --hsize: 22px;
 --radiusSize: 3px;
 --smallerwidth: 0px;
 --heightsize:1.6;
 --transitiontime: 0.2s;
 --opacitysize:0.8;
 --flexsize:1;
 --animationtime: 4s;
 --transformsize: 0, 50 px;
 --translatesize: 200px, 50px;
 --keyframesize: 446px, 48px;
 --cloudsize: 100px, 48px;
 --templatesize: 1fr 1fr 1fr;
 --gridsize: 1fr;


}
a {
 color: var(-- --primary-color);
}
body{
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: "Lora", serif;
    font-size: var(--bodysize);
    line-height: var(--heightsize);
    font-style: normals;
}
a {
    font-size: var(--bodylargersize);
}
a:hover{
    color: var(--darkerColor);
    text-decoration: underline;

}
a:visited {
    color: var(--lighterFontcolor);

}
a:active {
    color: var(--defaultColor);

}
.button, 
button {
    background-color: var(--shadowcolor);
    color: var(--darkblack);
    font-size: var(--bodysize);
    padding: var(--boxpadding) var(--boxtopLeft);
    transition-duration: var(--transitiontime);
    transition-property: opacity;
    
}
.button:hover, 
button:hover {
    background-color: var(--shadowcolor)
}
.button:active button:active{
    background-color: --darkerColor;
}
.button:focus button:focus{
    border: var(--boxpadding) var(--higlightborder)
}
button:hover, 
button:focus .button:hover, 
.button:focus {
cursor: pointer;
opacity: var(--opacitysize);
}
.logo {
 position: relative;
 height: auto;
 left: var(--smallerwidth);
 width: var(--largerwidth);
}
*{
 box-sizing: border-box;
}
.page-header {
    display: flex;
    width: var(--boxwidth);
    padding: var(----boxtopLeft);
}
.page-header_item{
    flex: 0 1 var(--boxflex);
}
.page-header_item:last-child {
    flex-grow: var(--flexsize);
    text-align: right;
}
.navigation-list{
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: var(--marginsize);
}
.profile_portrait {
    float: left;
    width: var(--largerwidth);
    margin-right: var(--rightsize);
}
.profile {
    margin: auto;
    width: var(--halfboxwidth); 
    text-align: center;
}

.page-footer {
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: var(--templatesize);
    grid-gap: var(--boxtopLeft);
}
.grid_item{
    background-color: var(--higlightborder);
}
@media screen and (max-width:500px) {
  .grid {
    grid-template-columns: var(--gridsize);
    grid-gap: var(--boxpadding);
 }
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
 }
h1{
 font-size: var(--hsize);   
 }
}

button {
    border: none;
    display:inline-block;
    font-family: inherit;
    background-color: --lightdefaultcolor;
    color: var(--primary-color);
    text-decoration: none;
    padding: var(--boxpadding);
    border-radius: var(--radiusSize);
    border-bottom: var(--boxborder) var(--bordercolor);
    transition-duration: var(--transitiontime);
    transition-property: opacity;
}
    
button:hover ,
.button:focus {
 cursor: pointer;
 opacity : var(--opacitysize);
}

@keyframes color-change {
    from {
     fill: var(--fillcolor);

    }
    to {
     fill: var(--fillFontcolor);
    }
}
.sun {
  animation-duration: var(--animationtime);
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

}
@keyframes cloud-move {
  from {
    transform: translate var(--transformsize);
  }
  to {
    transform: translate var(--translatesize);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
   from {
     transform: translate var(--keyframesize);
   }
   to {
     transform: translate var(--cloudsize);
   }
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}




